/* Color codes used */
$primary-gray: #CCC;
$primary-gray-lighter: #F3F3F3;
$primary-black-lighter: #333;
$primary-red: #FF0000;
$secondary-aqua-blue: #007DB1;
$primary-blue:#269AE6;
$primary-gray-extralight: #FFFFFF;
$primary-black: #000000;
$semantic-red-semilight: #ef5049;
$semantic-green-dark: #0D832A;
$semantic-red-lighter: #fcefef;
$semantic-green-extralight: #90F4A9;
$semantic-yellow-darker: #FFDB6E;
$primary-slate-extralight: #7c92a2;

/* Custom color codes */
$primary-gray-medium: #DDDDDD;
$gray-caret-border: #C2C2C2;
$secodary-btn-color: #2481ff;

/* Font size */
$body-font-size: 1em;
$body-line-height: 1.6;
$medium-font-size: 0.75em;

